/*********************
VARIABLES
*********************/



$bg-color: #EAEBED;
// $primary-color:#d84e18;

$primary-color:#773b89;

$dark-color:#333333;


$pr-color:#d84e18;
$sc-color:#492d22;

/*********************
BREAKPOINTS
*********************/

$small: 300px;
$medium: 768px;