@import "../../styles/var.scss";

.header-container {

    width: 10%;
    height: auto;
    padding: 1rem;

    @media screen and (max-width: $medium) {
        width: 20%;

    }

    .logo-img {
        width: 100%;
        height: 100%;
    }
}